{% extends 'global/base.html' %}

{% block content %} 
<section class="container-content">

    <div class="weather-content">
        <div class="title">
            <h1>Previsão das capitais:</h1>
        </div>
        {% for city in cities %}
        <article class="city">
            <a href="{% url 'accounts:about_city' city.slug %}">
                <img src="http://openweathermap.org/img/wn/{{city.weathers.0.icon}}@2x.png" alt="{{ city.weathers.0.desc }}">
                <header>
                    <h2>{{ city.city_name }}</h2>
                </header>

                <p class="temp">Temperatura: {{ city.weathers.0.temp }}°C</p>
                <p class="hour">Horário: {{ city.weathers.0.hour }}</p>
                <p class="status">{{ city.weathers.0.desc }}</p>
            </a>
        </article>
        {% endfor %}
    </div>

</section> 
{% endblock content %} 