{% extends 'global/base.html' %}

{% block content %} 
<section class="container-content">

    <div class="weather-content">
        <div class="title">
            <h1>Previsão das capitais:</h1>
        </div>
        <article class="city">
            <a href="#">
                <img src="http://openweathermap.org/img/wn/10d@2x.png" alt="previsão de chuva">
                <header>
                    <h2>São Bernado do campo - BR</h2>
                </header>

                <p class="temp">Temperatura: 27°C</p>
                <p class="hour">Horário: 20h</p>
                <p class="status">Nublado</p>
            </a>
        </article>
        <article class="city">
            <a href="#">
                <img src="http://openweathermap.org/img/wn/10d@2x.png" alt="previsão de chuva">
                <header>
                    <h2>São paulo - BR</h2>
                </header>

                <p class="temp">Temperatura: 27°C</p>
                <p class="hour">Horário: 20h</p>
                <p class="status">Nublado</p>
            </a>
        </article>

        <article class="city">
            <a href="#">
                <img src="http://openweathermap.org/img/wn/10d@2x.png" alt="previsão de chuva">
                <header>
                    <h2>São paulo - BR</h2>
                </header>

                <p class="temp">Temperatura: 27°C</p>
                <p class="hour">Horário: 20h</p>
                <p class="status">Nublado</p>
            </a>
        </article>
        <article class="city">
            <a href="#">
                <img src="http://openweathermap.org/img/wn/10d@2x.png" alt="previsão de chuva">
                <header>
                    <h2>São paulo - BR</h2>
                </header>

                <p class="temp">Temperatura: 27°C</p>
                <p class="hour">Horário: 20h</p>
                <p class="status">Nublado</p>
            </a>
        </article>
        <article class="city">
            <a href="#">
                <img src="http://openweathermap.org/img/wn/10d@2x.png" alt="previsão de chuva">
                <header>
                    <h2>São paulo - BR</h2>
                </header>

                <p class="temp">Temperatura: 27°C</p>
                <p class="hour">Horário: 20h</p>
                <p class="status">Nublado</p>
            </a>
        </article>
        <article class="city">
            <a href="#">
                <img src="http://openweathermap.org/img/wn/10d@2x.png" alt="previsão de chuva">
                <header>
                    <h2>São paulo - BR</h2>
                </header>

                <p class="temp">Temperatura: 27°C</p>
                <p class="hour">Horário: 20h</p>
                <p class="status">Nublado</p>
            </a>
        </article>
        <article class="city">
            <a href="#">
                <img src="http://openweathermap.org/img/wn/10d@2x.png" alt="previsão de chuva">
                <header>
                    <h2>São paulo - BR</h2>
                </header>

                <p class="temp">Temperatura: 27°C</p>
                <p class="hour">Horário: 20h</p>
                <p class="status">Nublado</p>
            </a>
        </article>
        <article class="city">
            <a href="#">
                <img src="http://openweathermap.org/img/wn/10d@2x.png" alt="previsão de chuva">
                <header>
                    <h2>São paulo - BR</h2>
                </header>

                <p class="temp">Temperatura: 27°C</p>
                <p class="hour">Horário: 20h</p>
                <p class="status">Nublado</p>
            </a>
        </article>
        <article class="city">
            <a href="#">
                <img src="http://openweathermap.org/img/wn/10d@2x.png" alt="previsão de chuva">
                <header>
                    <h2>São paulo - BR</h2>
                </header>

                <p class="temp">Temperatura: 27°C</p>
                <p class="hour">Horário: 20h</p>
                <p class="status">Nublado</p>
            </a>
        </article>
        <article class="city">
            <a href="#">
                <img src="http://openweathermap.org/img/wn/10d@2x.png" alt="previsão de chuva">
                <header>
                    <h2>São paulo - BR</h2>
                </header>

                <p class="temp">Temperatura: 27°C</p>
                <p class="hour">Horário: 20h</p>
                <p class="status">Nublado</p>
            </a>
        </article>
    </div>

</section> 
{% endblock content %} 