{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">

<head>
    {% include 'global/partials/head.html' with title=title %}
</head>

<body>
    {% include 'global/partials/header.html' %}

    {% block content %}{% endblock content %}

    {% include 'global/partials/footer.html' %}
    
    {% if messages %}
        {% for message in messages %}
            <div class="alert {{ message.tags }}">{{ message }}</div>
        {% endfor %}
    {% endif %}

    <script src="{% static 'global/js/app.js' %}"></script>
</body>

</html>