{% extends 'global/base.html' %}


{% block content %}
<section class="container-content">

    <div class="weather-content center-content">
        <div class="title">
            <h1>Previsões do tempo:</h1>
        </div>
        {% for weather in city.weathers %}
        <article class="city-about">
            <img src="http://openweathermap.org/img/wn/{{weather.icon}}@2x.png" alt="{{ weather.description }}">
            <header>
                <h2>{{ city.city_name }}</h2>
            </header>

            <p class="temp">Temperatura: {{ weather.temp }}°C</p>
            <p class="temp-feel">Sensação térmica: {{ weather.feels_like }}°C</p>
            <p class="humidity">Umidade: {{ weather.humidity }}%</p>
            <p class="date-hour">Data e Hora: {{ weather.date }} - {{ weather.hour }}h</p>
            <p class="status">{{ weather.description }}</p>
        </article>
        {% endfor %}
        
    </div>

</section>

<div class="add-city">
    <form method="post">
        {% csrf_token %}
        <button type="submit">{% if city_added %}REMOVER CIDADE{% else %}ADICIONAR CIDADE{% endif %}</button>
    </form>
</div>

{% endblock content %}